header {
    color: red;
    text-align: center;
    
  }

  .hyper{
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  float: left;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.code-card .card-header {
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}
/* this is so when the user places the cursor on something they notice */
.code-card:hover,
.code-card:hover .card-header {
  box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1), 0 0 15px rgba(232, 102, 236, 1);
}

